Something something breed two dogs together

<select name="femaleDog">
	<% females.forEach(function(dog) { %>
		<option value="<%= dog._id %>"> <%= dog.name %> the <%= dog.mainBreed %> </option>
	<% }) %>
</select>

<select name="maleDog">
	<% males.forEach(function(dog) { %>
		<option value="<%= dog._id %>"> <%= dog.name %> the <%= dog.mainBreed %> </option>
	<% }) %>
</select>