<% if(user) { console.log("if") %>
	<div class="main-page-label welcome-user"> Hello <%= genUser.name %>! </div>
<% } else { console.log("else")%>
	<div class="main-page-label meet-and-greet"> Meet <%= genUser.name %>! </div>
<% } %>

<div id="columns">
	<% genUser.dogs.forEach((dog) => { %>
		<a href="/dogs/<%= dog._id %>" >
			<figure>
				<img src="<%= dog.img %>">
				<figcaption><%= dog.name %></figcaption>
			</figure>
		</a>
	<% }) %>
</div>