<% if(user) { console.log("if") %>
	<div class="main-page-label welcome-user"> Hello <%= genUser.name %>! </div>
<% } else { console.log("else")%>
	<div class="main-page-label meet-and-greet"> Meet <%= genUser.name %>! </div>
<% } %>

<% genUser.dogs.forEach((dog) => { %>
	<div class="dog-card">
		<a href="/dogs/<%= dog._id %>">
			<div class="dog-card-img">
				<img src="<%= dog.img %>" alt="A dog's picture">
			</div>
			<div class="dog-card-name">
				<%= dog.name %>
			</div>
		</a>
	</div>
<% }) %>