<% if(user) { console.log("if") %>
	<div class="welcome-user"> Hello <%= genUser.name %>! </div>
<% } else { console.log("else")%>
	<div class="meet-and-greet"> Meet <%= genUser.name %>! </div>
<% } %>

<% genUser.dogs.forEach((dog) => { %>
	<a href="/dogs/<%= dog._id %>">
		<div class="dog-card user-dog-card">
			<div class="dog-card-img">
				<img src="<%= dog.img %>" alt="A dog's picture">
			</div>
			<div class="dog-card-name">
				<%= dog.name %>
			</div>
		</div>
	</a>
<% }) %>