<%- include('../partials/header') %>
<%- include('../partials/nav') %>

	<h2>All Dog Pages</h2>
	<%- include('../genPawsPageViews/createDog') %>
	<%- include('../genPawsPageViews/viewAllDogs') %>

<%- include('../partials/footer') %>